/* test autoprefixer */
/* from: https://stackoverflow.com/questions/75035565/postcss-autoprefixer-setup-in-an-astro-project */
/* text-size-adjust: 100%; in src/styles/global.css to cause a -webkit-text-size-adjust: 100%; */
html {
	text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

/* to stop the firefox bounce */
/* see: https://jeffbridgforth.com/fix-scroll-bounce-with-css-some-gotchas/ */
:root {
	overscroll-behavior: none;
	overflow-x: hidden; /* or you could use overflow-x: clip */
}

/* custom properties */
:root {
	/* colours */
	--navy: 195 100% 14%;
	--lime: 68 60% 60%;
	--darklavender: 273 25% 52%;
	--teal: 182 68% 44%;
	--orchid: 300 35% 46%;

	--babyblue: 188 55% 55%;

	/* options for --babyblue */
	/*  
	color: #17C1D4;
	color: #3AD3DE;
	color: #3EB6C8;
	color: #4FCADD;
	color: hsl(188, 68%, 59%);
	*/

	/* effectively black */
	--darknavy: 186 40% 15%;
	--white: 0 0% 100%;

	/* desaturated navy for text out of white */
	--greynavy: 195 50% 14%;
	--lightgreynavy: 195 50% 25%;

	/* darker teal for accessible contrast */
	/* --darkteal: 182 68% 23%; */
	--darkteal: 182 68% 30%;

	/* grey */
	--midgrey: 186 10% 50%;
	--lightgrey: 186 10% 67%;

	/* applied colours */
	--text-light: var(--white);
	--text-mid: var(--midgrey);
	--text-note: var(--lightgrey);
	--text-dark: var(--darknavy);
	--background-white: var(--white);
	--background-light: var(--lime);
	--background-dark: var(--navy);
	--accent: var(--darklavender);
	--accent2: var(--lime);
	--accent3: var(--teal);
	--accent4: var(--orchid);
	--accent3-dark: var(--darkteal);

	/* sizing */
	--header-height: 5rem;
}

/* ---------------- @fontface stuff ------------------- */

@font-face {
	font-family: "Butler";
	src:
		url("/fonts/butler_regular-webfont.woff2") format("woff2"),
		url("/fonts/butler_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
	/* font-family:
		Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-sans; */
	/* font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif; */
	/* scroll-behavior: smooth; */
}

/* utility class to hide stuff */
/* using this on the body to hide everything until scripts are loaded */
.hidden {
	visibility: hidden;
}

/* visually-hidden class 
stolen from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */

/* 
    * 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
.visually-hidden {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/* tailwind calls its nowrap utility whitespace-nowrap */
.nowrap {
	white-space: nowrap;
}

/* was only using this to obfuscate email address, not any more */
.display-none {
	display: none;
}

/* add this to email links to be obfuscated */
/* set to visibility hidden, so we don't get a flash of the big ugly encoded email address */
.hidden {
	visibility: hidden;
}

/* -------------------- styles -------------------------- */

/* let's have a utility class for the serif font */
/* otherwise we have to update every heading class */
/* everytime we decide to change the font */

.serif-fancy {
	/* font-family: "Butler", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif; */
	/* try Antique font stack to be closer to Butler */
	font-family:
		"Butler", Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
	font-weight: normal;
}

/* system stack serif (not Butler) */
.serif-regular {
	font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
	font-weight: normal;
}

/* alternative serif stacks */
/* Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; */
/* Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */

/* see here to provide different styles for loaded font and fallback font: */
/* https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ */

/* the problem is we have several fallback fonts, so ideally we'd need styles for
all of them, which means we'd need to check for each fallback font
it's doable, but difficult to test */

.flex {
	display: flex;
	/* --gap: 0.8rem; */
	/* gap: var(--gap); */
}

.flex-centred {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-columns {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.flex-columns {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.flex-columns > * {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		/* border: 1px solid yellow; */
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
}

.text-accent {
	color: hsl(var(--accent));
}

.text-accent2 {
	color: hsl(var(--accent2));
}

.text-accent3 {
	color: hsl(var(--accent3));
}

/* for hiding <pictures> while image is loading */
.picture-image {
	transition: opacity 250ms ease-in;
}

/* hide pictures while loading */
.picture-image--hide {
	/* also make them invisible as well as transparent */
	/* otherwise the alt text shows */
	visibility: hidden;
	opacity: 0;
}

.picture-image--show {
	visibility: visible;
	opacity: 1;
}

/* button shaped element */
.content__button {
	display: flex;
	justify-content: center;
	align-items: center;
	/* bit of padding so the text apears a bit more vertically centred */
	/* padding-block: 0.2rem; */
	/* probably set width on buttons with modifiers or according to context */
	border-radius: 3rem;

	/* border: 1px solid red; */
}

.content__button--purple {
	color: hsl(var(--white));
	background-color: hsl(var(--darklavender));
}

.content__button--green {
	color: hsl(var(--white));
	background-color: hsl(var(--lime));
}

.content__button--teal {
	color: hsl(var(--white));
	background-color: hsl(var(--teal));
}
